
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-tags:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-mail-1:before { content: '\e809'; } /* '' */
.icon-asterisk:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-briefcase:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-free-code-camp:before { content: '\f2c5'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */