.single,
.search {
  .post.white {
    background-color: inherit;
    border: none;
  }
  .sidebar {
    margin: 30px auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .post .entry-header .edit-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    top: inherit;
  }
  .comments-area {
    .comment-reply-title {
      font-size: 1.5rem;
      color: $grey-darker;
    }
    .submit {
      background-color: $orange;
      padding: 10px;
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: darken($orange, 10%);
      }
      span {
        margin-right: 10px;
      }
    }
  }
  .entry-figure {
    background-color: $grey-lighter;
    padding: 10px;
  }
}

@media screen and (max-width: 769px) {
  .site-main > .separator,
  .site-main .navigation {
    margin-left: 30px;
    margin-right: 30px;
  }
  .single .sidebar {
    margin: 30px;
  }
}
