.notification.cookie-warning {
  display: none;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .accept {
	margin-left: 10px;
  }
}
