.error-404 {
  color: $black;
  p {
    text-indent: 0;
  }
  .page-header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    border: none;
    .page-title {
      color: $black;
    }
  }
  .search-form {
    margin-bottom: 30px;
  }
}

.error-404--title {
  text-align: center;
}
