.footer {
  background-color: $black;
  padding: 50px;
  color: white;
  p {
    text-indent: 0;
  }
  .title {
    color: white;
  }
  .separator {
    margin: 15px 0 0;
  }
  strong {
    color: white;
  }
}

.footer-menu {
  padding-bottom: 0;
  background-color: $black;
  color: white;
}

.footer-menu .title {
  margin-bottom: 0;
  margin-top: 0;
}

.footer .separator {
  width: 30px;
}

.footer .navbar-item {
  color: white;
  margin-left: -.9rem;
  display: inline;
  &:hover {
    color: $orange;
    background-color: inherit;
  }
}

@media screen and (max-width: 768px) {
  .footer .is-flex-mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .footer .navbar-item {
    margin: 5px;
  }

  .footer .navbar-item:first-child {
    margin-left: 0;
  }

  .footer .navbar-item:last-child {
    margin-right: 0;
  }
}
