.wpcf7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  input,
  textarea,
  select {
    width: 100%;
    border: 2px solid #b2b2b2;
    background-color: #fcfcfc;
    color: #243e36;
    padding: 10px 15px;
    margin: 0px 0 5px 0;
    &:focus {
      background-color: #e4e4e4;
      border: 2px solid #b2b2b2;
    }
  }

  input,
  textarea {
    padding: 10px 60px 10px 15px;
  }

  select {
    background-color: white;
  }
  textarea {
    resize: vertical;
  }
  input[type="submit"] {
    border-color: #5e5e5e;
    max-width: 100px;
    border-width: 1px;
    background-color: $black;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    cursor: auto;
  }
  input[type="submit"]:focus,
  input[type="submit"]:hover {
    background-color: #e4e4e4;
    color: $black;
    cursor: pointer;
  }
  p {
    text-indent: 0;
  }
}

.wpcf7-form > p {
  position: relative;
  font-size: 1.2rem;
  i {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $black;
    color: white;
    padding: 11px 15px;
  }
}

.wpcf7-form > p:focus i,
.wpcf7-form > p:hover i {
  color: $orange;
}
