.search-form {
  position: relative;
}

.search-form--input {
  width: 100%;
  border: none;
  color: $black;
  font-weight: bold;
  border-bottom: 1px solid $grey-darker;
  border-radius: none;
  padding: 10px 50px 10px 10px;
}

.search-form--input::placeholder {
  color: darken($grey-darker, 10%);
}

.search-form--submit {
  position: absolute;
  right: 0;
  &:hover {
    border: none;
    color: $orange;
  }
}

.search-results .grid {
  margin: 0;
}
