body.fixed-top-nav .site-header {
  width: 100%;
  height: $fixed-main-nav-height;
  position: fixed;
  top: 0;
  z-index: 10;
}

body.admin-bar.fixed-top-nav .site-header {
  top: 32px;
}

.main-navigation {
  padding: 0 15px;
  height: 100%;
}

.navbar {
  .navbar-menu {
    .lang-menu {
      .navbar-item {
        padding-right: 1rem;
      }
    }
  }
  .navbar-brand {
    align-items: center;

    figure a {
      display: block;
    }

    .navbar-item {
      img {
        max-height: inherit;
      }
    }
  }

  .social-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-item {
      border-radius: 0;
    }
  }

  .navbar-center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-grow: 3;
  }
}

.navbar .search-form input,
.navbar .search-form button {
  font-size: 0.875rem;
}

.navbar.light {
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(135, 135, 135, 1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(135, 135, 135, 1);
  box-shadow: 2px 2px 3px 0px rgba(135, 135, 135, 1);

  .social-navigation {
    background-color: white;
  }

  .navbar-item {
    color: $black;
    text-transform: uppercase;
    &:hover {
      color: $orange;
    }
  }

  .search-form {
    position: relative;
  }

  .search-form__input {
    background-color: $grey-lighter;
    color: $black;
    border: 1px solid $grey-darker;
    padding: 7px 28px 7px 7px;
  }

  .search-form__submit {
    position: absolute;
    right: 5px;
    background-color: transparent;
    color: $grey-darker;
    top: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    height: 33px;
  }

  .search-form__submit:hover {
    border: none;
    color: $black;
  }
}

.navbar.dark {
  background-color: darken($grey-darker, 10%);
  border-bottom: 1px solid white;
  opacity: 0.9;
  .navbar-item {
    color: white;
    &:hover {
      background-color: inherit;
      color: $orange;
    }
  }
  .navbar-brand .navbar-burger:hover {
    background-color: white;
    color: $orange;
  }

  .search-form {
    background-color: darken($grey-darker, 10%);
  }

  .search-form__input {
    background-color: darken($grey-darker, 10%);
    color: white;
  }

  .search-form__submit {
    background-color: darken($grey-darker, 10%);
    color: white;
  }

  .search-form__submit:hover {
    color: $orange;
  }

  .social-navigation {
    background-color: inherit;
    .navbar-item {
      background-color: inherit;
      &:hover {
        color: darken($grey-darker, 10%);
      }
    }
  }
}

.navbar .navbar-item.current-menu-item {
  color: $orange;
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .navbar.dark {
    opacity: 1;
    background-color: $grey-darker;
    .navbar-item {
      color: $grey-darker;
      &:hover {
        // background-color: white;
        color: $orange;
      }
    }
    .navbar-item.current-menu-item {
      color: $orange;
      font-weight: bold;
    }

    .search-form__input {
      background-color: white;
      color: $grey-darker;
    }

    .search-form__submit {
      background-color: white;
      color: $grey-darker;
    }
  }

  body.fixed-top-nav .main-navigation {
    padding-top: 10px;
  }

  .navbar-branding {
    padding: 0px 30px 18px 30px;
  }

  .main-navigation.site-header-navigation {
    padding: 0;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.is-active {
    display: block;
  }

  .navbar-menu {
    box-shadow: none;
    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(135, 135, 135, 1);
    -moz-box-shadow: 2px 2px 3px 0px rgba(135, 135, 135, 1);
    box-shadow: 2px 2px 3px 0px rgba(135, 135, 135, 1);

    .search-container {
      padding: 0;
      border-top: 1px dashed $grey-darker;
    }

    .search-toggle {
      display: none;
    }

    .search-form {
      opacity: 1;
      display: inline-block;
      position: initial;
      top: initial;
      left: initial;

      .search {
        border: none;
      }
    }

    .lang-menu {
      display: flex;
      justify-content: center;

      > .navbar-item {
        display: inline;
        padding-right: 5px !important;

        &::after {
          width: 25px;
          height: 25px;
          margin-left: 10px;
          content: '|';
        }
      }

      .navbar-dropdown {
        display: inline-block;

        .navbar-item {
          display: inline;
          padding: 5px;
        }
      }
    }

    .navbar-center {
      text-align: center;
      flex-direction: column;
    }
  }

  body.fixed-top-nav .main-navigation .social-navigation {
    margin-left: 15px;
  }
}
