.post-navigation--item {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(156, 153, 156, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(156, 153, 156, 1);
  box-shadow: 1px 1px 5px 0px rgba(156, 153, 156, 1);
  padding: 0;
  margin: 0.75rem;
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.post-navigation--item > a {
  line-height: 0;
}

.post-navigation--header {
  background-color: lighten($black, 80%);
}

.post-navigation--header a {
  display: block;
  width: 100%;
  height: 100%;
  color: $black;
  padding: 20px 0;
  &:hover {
    color: $orange;
  }
}

.post-navigation--header-title {
  margin: 0;
  font-size: 1rem;
}
