html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: $white;
  color: $black;
}

a:active,
a:focus,
button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  border: 0;
  outline: 0;
}

strong {
  font-weight: bold;
  color: $black;
}

p {
  text-indent: 1.5rem;
  margin: 1.5rem 0;
  line-height: 1.4rem;
}

a {
  color: darken($orange, 10%);

  &:hover {
    color: lighten($orange, 10%);
    @include transition(color 0.5s ease);
  }
}

ul li,
ol li {
  margin-left: 15px;
}

.wp-block-separator {
  width: 100px;
  height: 1.5px;
  background-color: $green;
  color: $green;
  margin: 50px auto;
  border-bottom: 1.5px solid $green;
}

.notification {
  z-index: 90;
}

#go-top {
  display: none;
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 1.5rem;
  background-color: $black;
  color: white;
  border-radius: 50px;
  padding: 1px 5px 9px 5px;
}

.sr-only,
.screen-reader-text {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}

.has-shadow {
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.tags .tag {
  margin-bottom: 0;
}

.tags:last-child {
  margin-bottom: 0;
}

.edit-link {
  position: fixed;
  bottom: 5px;
  right: 5px;

  a {
    font-size: 1.5rem;
  }
}

.justify-center {
  text-align: justify;
  text-align-last: center;
}

.gap25 {
  margin: 25px 0;
}

.title-underline {
  position: relative;
  padding-bottom: 10px;
  margin: 15px 0;
}

.title-underline::after {
  position: absolute;
  width: 40px;
  height: 1px;
  border: 1px solid $green;
  content: '';
  bottom: 0;
  left: 0;
}

.skill-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  div,
  span,
  strong {
    display: inline-block;
    font-size: 1rem;
    color: white;
    background-color: $green;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    font-weight: normal;
    @include transition(background-color 0.3s ease);

    &:hover {
      background-color: $orange;
      @include transition(background-color 0.7s ease);
    }
  }

  div:nth-child(odd),
  span:nth-child(odd),
  strong:nth-child(odd) {
    background-color: #60d394;

    &:hover {
      background-color: $orange;
      @include transition(background-color 0.7s ease);
    }
  }
}

.separator {
  height: 1px;
  margin: 30px 0;
  width: 60px;
  border-width: 1px;
  border-style: solid;
}

.orange {
  color: $orange;
}

.fullheight {
  min-height: 100vh;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-separator {
  border-color: $orange;
}

.black-separator {
  border-color: darken($black, 7%);
}

.darker-green-separator {
  border-color: $green-darker;
}

.site-content {
  width: 100%;
  margin: 0 auto 30px auto;
  min-height: 69.6vh;
}

@media screen and (max-width: 600px) {
  .site-content {
    margin-top: 79px;
  }
}

.categories {
  display: flex;
  align-items: center;
}

.sidebar {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(156, 153, 156, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(156, 153, 156, 1);
  box-shadow: 1px 1px 5px 0px rgba(156, 153, 156, 1);
  section {
    padding: 30px;

    .widget-title {
      font-size: 1.5rem;
      color: $green-darker;
    }
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    margin: 30px;
  }
}

.post-navigation {
  margin: 30px 0;
}

.page-header {
  margin-bottom: 30px;
  padding: 15px 0;
  background-color: $grey-lighter;

  .page-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .archive-description {
    font-size: 1rem;
    color: $black;
    font-weight: normal;
    p {
      text-indent: 0;
    }
  }
}

.post {
  background-color: $white;
  position: relative;

  .entry-header {
    position: relative;

    .entry-title,
    h2 a {
      color: $black;
      font-size: 1.4rem;
      font-weight: bold;
    }

    h2 a:hover {
      color: $orange;
    }

    .edit-link {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .entry-date {
      color: $black;
      text-transform: capitalize;

      .fa {
        margin-right: 5px;
      }
    }
  }

  .entry-figure {
    line-height: 0;
    figure {
      text-align: center;
    }
  }

  .entry-image {
    background-repeat: no-repeat;
  }

  :not(.single) .entry-content {
    padding: 15px;
  }

  .separator {
    margin: 0;
  }

  .entry-footer {
    padding: 30px 0 0;
    border-top: solid 1px $grey;
    margin: 30px 0;
    .categories a,
    .tags a {
      margin: 4px;
    }

    .tags {
      margin: 15px 0;
    }
  }

  hr {
    background-color: darken($black, 5%);
  }
}

.category .entry-content {
  padding: 30px;
}

.category .entry-footer {
  padding-left: 30px;
}

body:not(.home).fixed-top-nav .site-content {
  margin-top: $fixed-main-nav-height;
}

.archive .site-content article,
.hfeed .site-content article {
  .entry-header {
    margin-bottom: 15px;
  }

  .entry-title a {
    font-size: 1.2rem;
  }

  .entry-header {
    padding: 0 15px;
    font-size: 0.8rem;
  }

  .entry-footer .tags {
    margin: 15px 0 0;
  }

  .edit-link a {
    font-size: 1rem;
  }
}

.entry-summary {
  padding: 15px;
}

.round-image {
  border-radius: 50%;
}

.social-navigation {
  background-color: inherit;
  margin-left: -15px;
  .navbar-item {
    color: white;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    &:hover {
      color: $orange;
    }
  }
}

.yoast-breadcrumb span,
.yoast-breadcrumb a {
  font-size: 1rem;
}

.yoast-breadcrumb span {
  color: $black;
}

.yoast-breadcrumb a {
  color: $grey-darker;
  &:hover {
    color: $orange;
  }
}

.more-link {
  margin-left: 10px;
}
