.nmv-posts-grid {
  position: relative;
  margin: 25px 0;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.grid {
  /* center */
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.posts-grid-item {
  height: auto;
  background-color: darken($grey-lighter, 5%);
  border-radius: 5px;
}

.grid-item {
  width: 350px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(168, 168, 168, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(168, 168, 168, 1);
  box-shadow: 2px 2px 5px 0px rgba(168, 168, 168, 1);
  float: left;
}

.posts-grid-item--image {
  width: 100%;
  display: block;
}

.posts-grid-item--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  @include transition(0.5s ease);
  opacity: 0;
  background-color: rgba(55, 63, 81, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  &:hover {
    opacity: 1;
    background-color: rgba(55, 63, 81, 0.96);
  }
}

.posts-grid-item--overlay__wrapper {
  width: 100%;
  height: 100%;
}

.posts-grid-item--overlay__wrapper * {
  color: white;
  font-weight: normal;
  text-align: center;
}

.posts-grid-item--gallery-button {
  margin-top: 10px;
  margin-left: 0;
  border: 1px solid white;
  padding: 10px 40px;
  font-size: 1.2rem;
  background-color: inherit;

  &:hover {
    background-color: rgba(241, 90, 36, 1);
  }
}

.posts-grid-item--title {
  font-size: 1.2rem;
}

.posts-grid-item--subtitle {
  font-size: 1rem;
  margin-bottom: 0;
  padding-top: 0;
}

.posts-grid-item--show-more {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: $orange;
  &:hover {
    color: darken($orange, 10%);
  }
}

.loading-overlay {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(105, 37, 37, 0.8);
}

.loader {
  display: block;
  background: url('/images/ajax-loader.gif') no-repeat center center;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .grid-item {
    width: 415px;
  }
}

@media screen and (min-width: 1280px) {
  .grid-item {
    width: 360px;
  }
}

@media screen and (max-width: 560px) {
  .posts-grid-item--gallery-button {
    font-size: 0.8rem;
  }

  .posts-grid-item--title {
    font-size: 1.1rem;
  }

  .posts-grid-item--subtitle {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .nmv-posts-grid
    .posts-grid-item
    .posts-grid-item--overlay
    .posts-grid-item--gallery-button {
    font-size: 0.5rem;
  }

  .posts-grid-item--title {
    font-size: 1rem;
  }

  .posts-grid-item--subtitle {
    font-size: 0.5rem;
  }
}

.nmv-gallery {
  z-index: 5;
  position: relative;

  .slick-track img {
    margin-right: 10px;
  }
}

.nvm-gallery--text-container {
  position: absolute;
  top: 17vh;
  left: 640px;
}

.nvm-gallery--text-container h3 {
  font-size: 36px;
  color: #f15a24;
  margin-bottom: 0;
}

.nvm-gallery--text-container button {
  margin-top: 10px;
  margin-left: 0;
  border: 1px solid white;
  padding: 10px 40px;
  font-size: 1.2rem;
  background-color: rgba(241, 90, 36, 1);
  font-weight: normal;

  :hover {
    background-color: rgba(240, 89, 35, 1);
  }
}

.nvm-gallery--wrapper {
  width: 590px;
}

.nvm-gallery--thumbnails {
  margin-top: 10px;
  max-width: 600px;
}

@media screen and (min-width: 1279px) {
}
@media screen and (max-width: 1023px) {
  .nmv-gallery--text-container {
    position: initial;
    top: initial;
    right: initial;
  }
}
@media screen and (max-width: 900px) {
  .nmv-gallery--text-container h3 {
    font-size: 1.8rem;
  }
}
