h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 20px 0;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.125rem;
}

h5,
h6 {
  font-size: 1.175rem;
}

a {
  font-size: 0.8125rem;
}

p,
p a {
  font-size: 0.875rem;
  text-indent: 0;
}

@media screen and(min-width: 1280px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  p,
  p a {
    font-size: 1rem;
  }
}
