$fa-font-path: "~font-awesome/fonts";

$black: rgba(36, 62, 54, 1);
$grey: rgba(228, 228, 228, 1);
$grey-lighter: rgba(252, 252, 252, 1);
$grey-darker: rgba(178, 178, 178, 1);
$orange: rgba(242, 100, 48, 1);
$orange-lighter: rgba(255, 94, 91, 1);
$yellow: #eacd4f;
$red: #d11149;
$green: rgba(96, 211, 148, 1);
$green-darker: rgba(23, 126, 137, 1);

// Typography
$family-primary: "Lato", sans-serif !default;
$family-secondary: "Roboto", sans-serif !default;

// Nav Menu
$navbar-item-color: $black !default;
$navbar-item-hover-color: $orange !default;
$navbar-item-hover-background-color: $white !default;
$navbar-item-active-color: $orange !default;
$navbar-item-active-background-color: $white !default;
$fixed-main-nav-index: 100;
$fixed-main-nav-height: 80px;
$search-bar-height: 60px;
